<h2>Sign Up</h2>

<div class="sign_up_form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <%= devise_error_messages! %>
  
  <div><%= f.label 'first_name:' %><br />
    <%= f.text_field :first_name, autocomplete: "off" %></div>

  <div><%= f.label 'last_name:' %><br />
    <%= f.text_field :last_name, autocomplete: "off" %></div>

  <div><%= f.label 'email:' %><br />
    <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label 'phone number:' %><br />
    <%= f.text_field :phone, autocomplete: "off" %></div>

  <div><%= f.label 'password:' %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label 'password_confirmation:' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
</br>
  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>

</div>
<%= render "devise/shared/links" %>
