<%#= if can? :manage, @flight %>
<%#= link_to "Edit", edit_flight_path(@flight) %>
<%# end %>
<body data-api="<%= ENV['API_ID'] %>" data-key="<%= ENV['APP_KEY'] %>">

<h1>new flight page</h1>

<h2><%= flash[:notice] %></h2>

	<%= form_for @flight do |f| %>
  <%= f.label "Flight #" %>
  <%= f.text_field "flight_number", placeholder: "Flight #" %>
    <%= f.label "Airline Code" %>
  <%= f.select "airline_code", options_for_select([ ['AS - Alaska', 'AS'], ['AQ - Aloha', 'AQ'], ['AA - American', 'AA'], ['DL - Delta', 'DL'], ['CO - Continental', 'CO'], ['HA - Hawaiian', 'HA'], ['B6 - JetBlue', 'B6'], ['WN - Southwest', 'WN'], ['UA - United', 'UA'], ['US - US Airways', 'US'], ['FL - AirTran', 'FL'], ['VX - Virgin', 'VX'] ]) %>
  <%= f.label "Date of Departure" %>
  <%= f.select "date_month", options_for_select([ ['January', '01'], ['February', '02'], ['March', '03'], ['April', '04'], ['May', '05'], ['June', '06'], ['July', '07'], ['August', '08'], ['September', '09'], ['October', '10'], ['November', '11'], ['December', '12'] ]) %>
  <%= f.select "date_day", options_for_select([ ['1', '01'],['2', '02'],['3', '03'],['4', '04'],['5', '05'],['6', '06'],['7', '07'],['8', '08'],['9', '09'],['10', '10'],['11', '11'],['12', '12'],['13', '13'],['14', '14'],['15', '15'],['16', '16'],['17', '17'],['18', '18'],['19', '19'],['20', '20'],['21', '21'],['22', '22'],['23', '23'],['24', '24'],['25', '25'],['26', '26'],['27', '27'],['28', '28'],['29', '29'],['30', '30'],['31', '31']  ]) %>
  <%= f.select "date_year", options_for_select([ ['2014', '2014'], ['2015', '2015'] ]) %>
  <%= f.label "Select Contact To Notify" %>
  <%= f.collection_check_boxes(:contact_id, current_user.contacts, :id, :full_name) %>
  <%= f.submit id: "flightButton" %>
  <% end %>

  <div id="flight_info">
  </div>

</body>
