
<div class="instructions">
	<h2>Add a new contact:</h2>
</div>

<!-- displays notice when flight created sucessfully -->
<!-- <h2><%#= flash[:notice] %></h2> -->

<!-- new contact form -->
<div class="add_contact_form", 'col-sm-4'>
	<%= form_for @contact do |f| %>
	  <%= f.label "First Name:" %>
	  <%= f.text_field "first_name", placeholder: "Mickey", class:'form_field' %>
	  <%= f.label "Last Name:" %>
	  <%= f.text_field "last_name", placeholder: "Mouse", class:'form_field' %>
	  <%= f.label "Email:" %>
	  <%= f.text_field "email", placeholder: "mickey@mouse.com", class:'form_field' %>
	  <%= f.label "Phone Number:" %>
	  <%= f.telephone_field "phone", placeholder: "(555)555-1212", class:'form_field' %>
	</div>
	 	<div class="contact_submit">
  		<%= f.submit class: 'btn btn-success btn-sm rounded', id: "contactButton" %>
    </div>
	<% end %>




<!-- displays a list of all contacts for current user -->
<div class="panel panel-primary" id="contacts_list">
	<div class="panel-heading" id="contacts_list">Your Contacts:</div>
		<% @contacts.each do |contact| %>
			<%= contact.first_name %></br>
		<% end %>
</div>


<!-- displays a list of all flights for current user -->
<div class="panel panel-primary" id="flights_list">
	<div class="panel-heading" id="flights_list">Your Flights:</div>
		<% @flights.each do |flight| %>
			<%= flight.airline_name -%> :
			<%= flight.flight_number -%> -
			<%= flight.date_month -%> /
			<%= flight.date_day -%>/
			<%= flight.date_year -%>, 
			<%= flight.departure_airport -%> to 
			<%= flight.arrival_airport -%></br>
		<% end %>
	</div>
</div>




