<h1>User Profile</h1>

<h2><%= flash[:notice] %></h2>

	<%= form_for @contact do |f| %>
	  <%= f.label "First Name:" %>
	  <%= f.text_field "first_name", placeholder: "Mickey" %>
	  <%= f.label "Last Name:" %>
	  <%= f.text_field "last_name", placeholder: "Mouse" %>
	  <%= f.label "Email:" %>
	  <%= f.text_field "email", placeholder: "mickey@mouse.com" %>
	  <%= f.label "Phone Number:" %>
	  <%= f.telephone_field "phone", placeholder: "(555)555-1212" %>
	 
	  <%= f.submit id: "contactButton" %>
  <% end %>


<!-- list of all contacts -->


<!-- list of all flights -->

